{{> navbar }}

<div class="main-content-products flexed-item big-container">

    {{!-- CATEGORY --}}
    <aside class="category-wrapper">
        <h4 class="category-title">All Tags</h4>
        <ul class="category-list">
            <li class="category-list-item"> <a href="">Tag 1</a> </li>
            <li class="category-list-item"> <a href="">Tag 2</a></li>
            <li class="category-list-item"> <a href="">Tag 3</a></li>
        </ul>
    </aside>

    {{!-- PRODUCTS--}}
    <section class="products-wrapper">
        <div class="products-infos">
            <h4 class="products-title">{{title}} collection <span class="products-count">({{product.length}})</span>
            </h4>
            <p class="products-subtitle"></p>
        </div>
        <div class="products-grid flexed-item">
            {{#each clothes}}
            {{> cloth}}
            {{/each}}
        </div>
    </section>
</div>